config/environments/*.js
logs/*.log
pids/*.pid
*.sock
test/tmp/*
node_modules*
.idea/*
.vscode/
tools/munin/cdbsqlapi.conf
test/redis.pid
test/test.log
test/acceptance/oauth/venv/*
coverage/
npm-debug.log
log/*.log
yarn.lock