module.exports.node_port    = 8080;
module.exports.node_host    = '127.0.0.1';
// idle socket timeout, in miliseconds
module.exports.node_socket_timeout    = 600000;
module.exports.environment  = 'test';
module.exports.db_base_name = 'cartodb_test_user_<%= user_id %>_db';
module.exports.db_user      = 'test_cartodb_user_<%= user_id %>';
module.exports.db_host      = 'localhost';
module.exports.db_port      = '5432';
module.exports.redis_host   = '127.0.0.1';
module.exports.redis_port   = 6333;
module.exports.redisPool    = 50;
module.exports.redisIdleTimeoutMillis   = 1;
module.exports.redisReapIntervalMillis  = 1;
module.exports.redisLog     = false;

